body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    background-color: black;
  }
  
.logo{
  margin: 10px 0 0 0;
}

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/back2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    text-align: center;
}
  
.header-right {
    display: flex;
    align-items: center;
    padding: 0 20px; 
}
  
.register-container {
    padding: 0 40px; 
    
}
  
.register-link  {
    text-decoration: none; 
    color: #6761CC;
    font-family: sans-serif;
    font-size: 25px;
}

.register-link:hover {
    color: white; 
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}



@media (max-width: 768px) {
    .header {
        flex-wrap: wrap; 
    }
    
    .header-right {
      padding: 5px; 
    }
  
    .register-container {
      padding: 5px; 
    }
}


