*{
    scroll-behavior: smooth;
}
.content_articlForm{
    padding: 100px 0 0 60px
    
}

.power, .videoUrl, .addTime, .startTime, .endTime {
    color: white;
}

.welcome{
  text-align: center;
}

.first-section {
    flex: 1;
    width: 100%;
    height: 100vh;
    
}
  
.second-section {
    flex: 1;
    padding: 15px 0 0 0;
    width: 100%;
    height: 100vh;
}

.link{
  text-decoration: none; 
  color: inherit; 
}

h2{
    
  color: white;
  font-size: 100px;
  font-family: PIXY;
  margin: 0;
  
}
h3{
  margin: 35px 0 130px 0;
  color: #6761CC;
  font-size: 50px;
  font-family: sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: #3600D3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: PIXY;
  font-size: 75px;
  font-weight: 900;
  letter-spacing: 0.5em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
  
}

.glowing-txt {
  float: left;

  margin-left: 0.2em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: white;
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}


/*Стили для второй секции*/


.videoUrl, .power, .startTime, .addTime, .endTime, .settings, label {
  color: white;
  font-size: 35px;
  font-family: PIXY;
  margin: 25px 0 0 0;
}
.videoUrl {
  color: white;
  font-size: 35px;
  margin-bottom: 10px;
  margin: 140px 0 30px 0;

}

.input_videoUrl{
  border-radius: 20px;
}

.videoUrl::before {
  content: ">>"; 
  color: #9e2dd3; 
  margin-right: 5px;

}

#videoUrl {
  background-color: #000; 
  border: 2px solid var(--glow-color); 
  color: white; 
  font-family: sans-serif; 
  font-size: 20px;
  padding: 10px;
  width: 474px;
  height: 60px;
}

#videoUrl:focus {
  outline: none; /* Убрать контур при фокусе */
  box-shadow: 0 0 10px #6761CC; /* Зеленая тень при фокусе */
}

.inputVideo{
  display: grid;
  font-family: PIXY;

}

input[type='file']{
  display: none;
}

label{
  display: inline-block;
  text-transform: uppercase;
  color: white;
  border: 2px dashed var(--glow-color);
  margin: 40px 0 0 0;
  text-align: center;
  padding: 20px;
  font-size: 25px;
  user-select: none;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  cursor: pointer;
}

label:hover {
  border: 2px solid white;
  color: var(--glow-color);
}


/* Стили для статьи*/


.article{
  max-width: 1100px;
  max-width: 1100px;
  max-height: 100%;
  text-align: justify;
}

.titleArticle , .annotation, .articleTitle, .articleTiming, .articleSumary{
  color: white;
  font-family: sans-serif;
}

.titleArticle{
  margin: 10px 0 40px 0;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: PIXY;

}

.p_annotation{
  font-size: 40px;
  margin: 0px 0px 5px 0;
  font-family: PIXY;
  color: #6761CC;
}

.annotation{
  margin: 0px 0px 40px 0px;
  font-size: 25px;
  line-height: 2;
}

.articleTitle{
  color: #6761CC;
  font-size: 40px;
  font-family: PIXY;
}

.articleTiming{
  font-size: 25px;
  margin: 10px 0px 40px 0px;
  color:  #797575;
  font-weight: bold;
}

.articleSumary{
  line-height: 2;
  font-size: 25px;
  margin: 0px 0px 40px 0px;


}

.articleFrames{
  text-align: center;
}

.articleImage{
  margin: 20px 0 20px 0;
  width: 900px;
  border: 5px solid white;
}
